* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #121826;
  padding-top: 182px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}
body .img-1 {
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -10;
}
body .img-2 {
  position: absolute;
  right: -50%;
  bottom: -50%;
}

form {
  width: 456px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #212936;
  border-radius: 12px;
  border: solid 1px #4D5562;
  margin-bottom: 20px;
}
form .tab {
  width: 100%;
  display: none;
}
form .tab.active {
  display: block;
}
form .tab .title {
  font-size: 1.25rem;
  color: #E5E7EB;
  margin-bottom: 40px;
  font-weight: 700;
}
form .tab .input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
form .tab .input-container label {
  font-size: 0.75rem;
  color: #A1A1A9;
  margin-bottom: 8px;
}
form .tab .input-container input {
  width: 100%;
  border-radius: 12px;
  padding: 16px 0 16px 16px;
  background-color: #212936;
  border: solid 2px #4D5562;
  outline: none;
  color: #4D5562;
  font-weight: 600;
  font-size: 0.75rem;
}
form .tab .input-container input::-moz-placeholder {
  color: #4D5562;
}
form .tab .input-container input::placeholder {
  color: #4D5562;
}
form .tab .input-container input.invalid {
  background-color: #ef233c;
  border: solid 2px #d90429;
  color: #d90429;
}
form .tab .input-container input.invalid::-moz-placeholder {
  color: #d90429;
}
form .tab .input-container input.invalid::placeholder {
  color: #d90429;
}
form .tab .input-container .error {
  display: none;
  color: #d90429;
  font-size: 0.75rem;
  margin-top: 10px;
  margin-left: 10px;
}
form .tab .input-container .error.active {
  display: block;
}
form .tab .topic-container {
  display: grid;
  row-gap: 16px;
}
form .tab .topic-container .topic {
  background-color: #394150;
  border-radius: 12px;
  border: solid 1px #4D5562;
  padding: 16px 0 16px 16px;
  color: #A1A1A9;
  font-size: 0.875rem;
  text-align: left;
  cursor: pointer;
}
form .tab .topic-container .topic.selected {
  background-color: #652CD1;
  border: solid 1px #845EEE;
  color: #E5E7EB;
}
form .btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
form .btn-container button {
  background-color: #652CD1;
  border: none;
  outline: none;
  border-radius: 38px;
  padding: 12px 36px 12px 36px;
  text-align: center;
  color: #E5E7EB;
  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;
}
form .summary-container {
  display: flex;
  margin-bottom: 5px;
}
form .summary-container p {
  color: #A1A1A9;
  font-size: 1rem;
}
form .summary-container span {
  color: #FFFFFF;
  font-size: 1rem;
  margin-left: 5px;
}
form .topics-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 11px;
}
form .topics-summary p {
  color: #A1A1A9;
  font-size: 1rem;
}
form .topics-summary ul {
  margin-top: 5px;
}
form .topics-summary li {
  color: #E5E7EB;
  font-size: 1rem;
  margin-left: 30px;
  margin-bottom: 5px;
}

.steps {
  display: inline-flex;
  gap: 24px;
  align-items: center;
  margin-left: -90px;
}
.steps .step-container {
  display: inline-flex;
  gap: 11px;
}
.steps .step-container .step {
  width: 10px;
  height: 10px;
  background-color: #394150;
  border-radius: 50%;
}
.steps .step-container .step.active {
  box-shadow: 0px 0px 0px 5px rgba(132, 94, 238, 0.3);
  background-color: #743EE4;
}
.steps .step-container .step.completed {
  background-color: #743EE4;
}
.steps .step-counter {
  color: #394150;
  font-size: 0.75rem;
  font-weight: 500;
}

@media (min-width: 1200px) {
  body .img-1 {
    left: -30%;
    top: -50%;
  }
  body .img-2 {
    right: -30%;
    bottom: -50%;
  }
}
@media (min-width: 1400px) {
  body .img-1 {
    left: -20%;
    top: -40%;
  }
  body .img-2 {
    right: -20%;
    bottom: -40%;
  }
}/*# sourceMappingURL=index.css.map */